/* General styles */
:root {
  scroll-behavior: smooth;
}

.App {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.panel {
  scroll-snap-align: center;
  max-width: 86rem;
  min-height: 100vh;
  width: 100%;
  padding: 6em; 
  margin: 0 auto;
}


/* Steps panel */
.stepsPanel {
  height: 100vh;
  overflow-y: scroll;
}

.stepsContainer {
  min-height: 8em;
  padding: 2em 6em;
}

.stepsAction {
  display: flex;
  justify-content: flex-end;
}

.hidden {
  display: none;
}

.stepsStep {
  max-width: 42em;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .stepsContainer {
    padding: 1em;
  }

  .stepsStep {
    padding: 0;
  }
}

@media screen and (max-width: 414px) {
  .panel {
    padding: 2em;
  }
  
  .stepsContainer {
    padding: 0;
  }
}


/* Success panel */
.successPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/* Entries panel */
.entriesPanel {
  background-color: white;
  height: 100vh;
  overflow-y: scroll;
}

.entryItemContainer {
  margin-bottom: 4em;
}

.entryItemImage {
  max-width: 100%;
}
